--
-- PostgreSQL database dump
--

\restrict SKDDPTbg08cRQQT3xTg440pQsLe7HRGFdOYuK3T4iJ2jipWENMxQWRWkcBGIJnL

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: api_key_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.api_key_status AS ENUM (
    'ACTIVE',
    'DISABLED'
);


ALTER TYPE public.api_key_status OWNER TO fmcg_binary;

--
-- Name: bv_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.bv_status AS ENUM (
    'UNMATCHED',
    'MATCHED'
);


ALTER TYPE public.bv_status OWNER TO fmcg_binary;

--
-- Name: commission_source; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.commission_source AS ENUM (
    'DIRECT_COMMISSION',
    'BINARY_MATCH',
    'LEVEL_BONUS',
    'FRANCHISE_COMMISSION',
    'WITHDRAWAL',
    'ADMIN_ADJUSTMENT',
    'P2P_TRANSFER'
);


ALTER TYPE public.commission_source OWNER TO fmcg_binary;

--
-- Name: entry_type; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.entry_type AS ENUM (
    'CREDIT',
    'DEBIT'
);


ALTER TYPE public.entry_type OWNER TO fmcg_binary;

--
-- Name: flush_period; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.flush_period AS ENUM (
    'never',
    'weekly',
    'monthly'
);


ALTER TYPE public.flush_period OWNER TO fmcg_binary;

--
-- Name: held_income_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.held_income_status AS ENUM (
    'HELD',
    'RELEASED',
    'FORFEITED'
);


ALTER TYPE public.held_income_status OWNER TO fmcg_binary;

--
-- Name: kyc_document_type; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.kyc_document_type AS ENUM (
    'PAN_CARD',
    'AADHAAR_CARD',
    'AADHAAR_FRONT',
    'AADHAAR_BACK',
    'BANK_PASSBOOK',
    'OTHER'
);


ALTER TYPE public.kyc_document_type OWNER TO fmcg_binary;

--
-- Name: kyc_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.kyc_status AS ENUM (
    'PENDING',
    'SUBMITTED',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.kyc_status OWNER TO fmcg_binary;

--
-- Name: package_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.package_status AS ENUM (
    'ACTIVE',
    'DISABLED'
);


ALTER TYPE public.package_status OWNER TO fmcg_binary;

--
-- Name: payout_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.payout_status AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public.payout_status OWNER TO fmcg_binary;

--
-- Name: placement_request_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.placement_request_status AS ENUM (
    'PENDING',
    'APPROVED',
    'AUTO_PLACED',
    'ADMIN_PLACED'
);


ALTER TYPE public.placement_request_status OWNER TO fmcg_binary;

--
-- Name: placement_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.placement_status AS ENUM (
    'PLACED',
    'PENDING_PLACEMENT'
);


ALTER TYPE public.placement_status OWNER TO fmcg_binary;

--
-- Name: reference_type; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.reference_type AS ENUM (
    'PURCHASE',
    'PAYOUT',
    'ADMIN',
    'PACKAGE_ACTIVATION',
    'P2P'
);


ALTER TYPE public.reference_type OWNER TO fmcg_binary;

--
-- Name: support_sender_type; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.support_sender_type AS ENUM (
    'user',
    'admin',
    'system'
);


ALTER TYPE public.support_sender_type OWNER TO fmcg_binary;

--
-- Name: support_ticket_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.support_ticket_status AS ENUM (
    'open',
    'in_progress',
    'closed'
);


ALTER TYPE public.support_ticket_status OWNER TO fmcg_binary;

--
-- Name: tree_leg; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.tree_leg AS ENUM (
    'LEFT',
    'RIGHT'
);


ALTER TYPE public.tree_leg OWNER TO fmcg_binary;

--
-- Name: user_package_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.user_package_status AS ENUM (
    'ACTIVE',
    'EXPIRED',
    'RENEWED'
);


ALTER TYPE public.user_package_status OWNER TO fmcg_binary;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.user_role AS ENUM (
    'NETWORKER',
    'ADMIN',
    'SUB_ADMIN'
);


ALTER TYPE public.user_role OWNER TO fmcg_binary;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.user_status AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'BLOCKED'
);


ALTER TYPE public.user_status OWNER TO fmcg_binary;

--
-- Name: wallet_type; Type: TYPE; Schema: public; Owner: fmcg_binary
--

CREATE TYPE public.wallet_type AS ENUM (
    'DIRECT',
    'TEAM'
);


ALTER TYPE public.wallet_type OWNER TO fmcg_binary;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_staff_permissions; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.admin_staff_permissions (
    user_id uuid NOT NULL,
    permission_key character varying(64) NOT NULL,
    granted_at timestamp with time zone DEFAULT now() NOT NULL,
    granted_by uuid
);


ALTER TABLE public.admin_staff_permissions OWNER TO fmcg_binary;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.audit_logs (
    log_id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_id uuid NOT NULL,
    action character varying(100) NOT NULL,
    target_type character varying(50) NOT NULL,
    target_id character varying(255) NOT NULL,
    details jsonb,
    ip_address inet,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    user_agent text
);


ALTER TABLE public.audit_logs OWNER TO fmcg_binary;

--
-- Name: binary_tree; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.binary_tree (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    parent_id uuid,
    leg public.tree_leg,
    left_child_id uuid,
    right_child_id uuid,
    left_bv bigint DEFAULT 0 NOT NULL,
    right_bv bigint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    lifetime_left_bv bigint DEFAULT 0 NOT NULL,
    lifetime_right_bv bigint DEFAULT 0 NOT NULL
);


ALTER TABLE public.binary_tree OWNER TO fmcg_binary;

--
-- Name: binary_tree_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.binary_tree_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.binary_tree_id_seq OWNER TO fmcg_binary;

--
-- Name: binary_tree_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.binary_tree_id_seq OWNED BY public.binary_tree.id;


--
-- Name: bv_ledger; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.bv_ledger (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    source_user_id uuid NOT NULL,
    leg public.tree_leg NOT NULL,
    bv_amount bigint NOT NULL,
    order_reference character varying(255),
    status public.bv_status DEFAULT 'UNMATCHED'::public.bv_status NOT NULL,
    matched_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT bv_ledger_bv_amount_check CHECK ((bv_amount > 0))
);


ALTER TABLE public.bv_ledger OWNER TO fmcg_binary;

--
-- Name: bv_ledger_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.bv_ledger_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bv_ledger_id_seq OWNER TO fmcg_binary;

--
-- Name: bv_ledger_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.bv_ledger_id_seq OWNED BY public.bv_ledger.id;


--
-- Name: commission_config; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.commission_config (
    id integer NOT NULL,
    config_key character varying(100) NOT NULL,
    config_value jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_by uuid,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.commission_config OWNER TO fmcg_binary;

--
-- Name: commission_config_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.commission_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commission_config_id_seq OWNER TO fmcg_binary;

--
-- Name: commission_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.commission_config_id_seq OWNED BY public.commission_config.id;


--
-- Name: daily_pair_stats; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.daily_pair_stats (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    stat_date date DEFAULT CURRENT_DATE NOT NULL,
    pairs_today integer DEFAULT 0 NOT NULL,
    total_pairs_lifetime integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.daily_pair_stats OWNER TO fmcg_binary;

--
-- Name: daily_pair_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.daily_pair_stats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_pair_stats_id_seq OWNER TO fmcg_binary;

--
-- Name: daily_pair_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.daily_pair_stats_id_seq OWNED BY public.daily_pair_stats.id;


--
-- Name: dashboard_home_content; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.dashboard_home_content (
    id smallint DEFAULT 1 NOT NULL,
    slider_slides jsonb DEFAULT '[]'::jsonb NOT NULL,
    notices jsonb DEFAULT '[]'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT dashboard_home_content_id_check CHECK ((id = 1))
);


ALTER TABLE public.dashboard_home_content OWNER TO fmcg_binary;

--
-- Name: fmcg_api_keys; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.fmcg_api_keys (
    id integer NOT NULL,
    app_name character varying(100) NOT NULL,
    api_key character varying(255) NOT NULL,
    api_secret character varying(255) NOT NULL,
    status public.api_key_status DEFAULT 'ACTIVE'::public.api_key_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.fmcg_api_keys OWNER TO fmcg_binary;

--
-- Name: fmcg_api_keys_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.fmcg_api_keys_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fmcg_api_keys_id_seq OWNER TO fmcg_binary;

--
-- Name: fmcg_api_keys_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.fmcg_api_keys_id_seq OWNED BY public.fmcg_api_keys.id;


--
-- Name: held_income; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.held_income (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    wallet_type public.wallet_type NOT NULL,
    source public.commission_source NOT NULL,
    amount bigint NOT NULL,
    reference_id character varying(255),
    reference_type public.reference_type,
    description text,
    period_ym integer NOT NULL,
    status public.held_income_status DEFAULT 'HELD'::public.held_income_status NOT NULL,
    released_ledger_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT held_income_amount_check CHECK ((amount > 0))
);


ALTER TABLE public.held_income OWNER TO fmcg_binary;

--
-- Name: held_income_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.held_income_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.held_income_id_seq OWNER TO fmcg_binary;

--
-- Name: held_income_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.held_income_id_seq OWNED BY public.held_income.id;


--
-- Name: kyc_documents; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.kyc_documents (
    document_id uuid DEFAULT gen_random_uuid() NOT NULL,
    kyc_id uuid NOT NULL,
    document_type public.kyc_document_type NOT NULL,
    document_url text NOT NULL,
    file_name character varying(500),
    file_size bigint,
    mime_type character varying(100),
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kyc_documents OWNER TO fmcg_binary;

--
-- Name: kyc_requests; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.kyc_requests (
    kyc_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    status public.kyc_status DEFAULT 'PENDING'::public.kyc_status NOT NULL,
    rejection_reason text,
    admin_id uuid,
    submitted_at timestamp with time zone,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kyc_requests OWNER TO fmcg_binary;

--
-- Name: level_achievements; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.level_achievements (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    level_number integer NOT NULL,
    total_bv_at_achievement bigint DEFAULT 0 NOT NULL,
    achieved_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.level_achievements OWNER TO fmcg_binary;

--
-- Name: level_achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.level_achievements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_achievements_id_seq OWNER TO fmcg_binary;

--
-- Name: level_achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.level_achievements_id_seq OWNED BY public.level_achievements.id;


--
-- Name: level_bonus_slabs; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.level_bonus_slabs (
    id integer NOT NULL,
    bonus_percent numeric(5,2) DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    level_number integer NOT NULL,
    min_total_bv_paise bigint DEFAULT 0 NOT NULL,
    CONSTRAINT level_bonus_slabs_level_nonneg CHECK ((level_number >= 0))
);


ALTER TABLE public.level_bonus_slabs OWNER TO fmcg_binary;

--
-- Name: level_bonus_slabs_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.level_bonus_slabs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_bonus_slabs_id_seq OWNER TO fmcg_binary;

--
-- Name: level_bonus_slabs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.level_bonus_slabs_id_seq OWNED BY public.level_bonus_slabs.id;


--
-- Name: sponsor_code_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.sponsor_code_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sponsor_code_seq OWNER TO fmcg_binary;

--
-- Name: networker_users; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.networker_users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    sponsor_id character varying(8) DEFAULT ('SPF'::text || lpad((nextval('public.sponsor_code_seq'::regclass))::text, 5, '0'::text)) NOT NULL,
    sponsor_user_id uuid,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(20),
    password_hash character varying(255) NOT NULL,
    status public.user_status DEFAULT 'ACTIVE'::public.user_status NOT NULL,
    role public.user_role DEFAULT 'NETWORKER'::public.user_role NOT NULL,
    current_package_id uuid,
    package_activated_at timestamp with time zone,
    today_binary_earned bigint DEFAULT 0 NOT NULL,
    daily_binary_cap bigint DEFAULT 0 NOT NULL,
    placement_status public.placement_status DEFAULT 'PLACED'::public.placement_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    avatar_object_key text,
    payout_upi_id character varying(100),
    payout_bank_display character varying(200),
    secure_wallet_external_id character varying(128),
    secure_wallet_balance_paise bigint,
    transaction_password_hash character varying(255),
    monthly_income_paise bigint DEFAULT 0 NOT NULL,
    monthly_shopping_paise bigint DEFAULT 0 NOT NULL,
    income_period_ym integer DEFAULT (((EXTRACT(year FROM now()))::integer * 100) + (EXTRACT(month FROM now()))::integer) NOT NULL,
    current_level integer DEFAULT 0 NOT NULL,
    sc_wallet_code character varying(128),
    sc_linked_at timestamp with time zone,
    staff_created_by uuid,
    staff_last_login_at timestamp with time zone,
    staff_action_pin_hash text,
    admin_title text,
    admin_title_image_object_key text
);


ALTER TABLE public.networker_users OWNER TO fmcg_binary;

--
-- Name: p2p_transfers; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.p2p_transfers (
    transfer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    sender_user_id uuid NOT NULL,
    receiver_user_id uuid NOT NULL,
    sender_sponsor_id character varying(32) NOT NULL,
    receiver_sponsor_id character varying(32) NOT NULL,
    wallet_type public.wallet_type DEFAULT 'DIRECT'::public.wallet_type NOT NULL,
    amount bigint NOT NULL,
    service_charge bigint DEFAULT 0 NOT NULL,
    net_amount bigint NOT NULL,
    note text,
    debit_ledger_id bigint,
    credit_ledger_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT p2p_transfers_amount_check CHECK ((amount > 0)),
    CONSTRAINT p2p_transfers_check CHECK ((sender_user_id <> receiver_user_id)),
    CONSTRAINT p2p_transfers_check1 CHECK (((net_amount + service_charge) = amount)),
    CONSTRAINT p2p_transfers_net_amount_check CHECK ((net_amount > 0)),
    CONSTRAINT p2p_transfers_service_charge_check CHECK ((service_charge >= 0))
);


ALTER TABLE public.p2p_transfers OWNER TO fmcg_binary;

--
-- Name: packages; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.packages (
    package_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    amount bigint NOT NULL,
    daily_binary_cap bigint DEFAULT 0 NOT NULL,
    status public.package_status DEFAULT 'ACTIVE'::public.package_status NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT packages_amount_check CHECK ((amount > 0))
);


ALTER TABLE public.packages OWNER TO fmcg_binary;

--
-- Name: pair_match_log; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.pair_match_log (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    left_bv_matched bigint DEFAULT 0 NOT NULL,
    right_bv_matched bigint DEFAULT 0 NOT NULL,
    matched_bv bigint DEFAULT 0 NOT NULL,
    carry_forward_bv bigint DEFAULT 0 NOT NULL,
    carry_forward_leg public.tree_leg,
    commission_amount bigint DEFAULT 0 NOT NULL,
    level_bonus_amount bigint DEFAULT 0 NOT NULL,
    total_credited bigint DEFAULT 0 NOT NULL,
    cap_deducted bigint DEFAULT 0 NOT NULL,
    order_reference character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pair_match_log OWNER TO fmcg_binary;

--
-- Name: pair_match_log_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.pair_match_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pair_match_log_id_seq OWNER TO fmcg_binary;

--
-- Name: pair_match_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.pair_match_log_id_seq OWNED BY public.pair_match_log.id;


--
-- Name: path_rank_slabs; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.path_rank_slabs (
    rank_level integer NOT NULL,
    name character varying(50) NOT NULL,
    min_direct_bv_paise bigint DEFAULT 0 NOT NULL,
    min_lifetime_pairs integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT path_rank_slabs_min_direct_bv_paise_check CHECK ((min_direct_bv_paise >= 0)),
    CONSTRAINT path_rank_slabs_min_lifetime_pairs_check CHECK ((min_lifetime_pairs >= 0)),
    CONSTRAINT path_rank_slabs_rank_level_check CHECK ((rank_level >= 1))
);


ALTER TABLE public.path_rank_slabs OWNER TO fmcg_binary;

--
-- Name: payout_config; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.payout_config (
    id integer NOT NULL,
    config_key character varying(100) NOT NULL,
    config_value jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payout_config OWNER TO fmcg_binary;

--
-- Name: payout_config_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.payout_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payout_config_id_seq OWNER TO fmcg_binary;

--
-- Name: payout_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.payout_config_id_seq OWNED BY public.payout_config.id;


--
-- Name: payout_requests; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.payout_requests (
    payout_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    wallet_type public.wallet_type NOT NULL,
    requested_amount bigint NOT NULL,
    service_charge_paise bigint DEFAULT 0 NOT NULL,
    tds_paise bigint DEFAULT 0 NOT NULL,
    net_payout_paise bigint DEFAULT 0 NOT NULL,
    payment_method character varying(20) DEFAULT 'SECURE_WALLET'::character varying NOT NULL,
    approved_amount bigint,
    status public.payout_status DEFAULT 'PENDING'::public.payout_status NOT NULL,
    admin_id uuid,
    admin_note text,
    sc_tx_reference character varying(255),
    sc_user_email character varying(255),
    requested_at timestamp with time zone DEFAULT now() NOT NULL,
    processed_at timestamp with time zone,
    CONSTRAINT chk_payout_fees_lte_gross CHECK (((service_charge_paise + tds_paise) <= requested_amount)),
    CONSTRAINT chk_payout_net_nonneg CHECK ((net_payout_paise >= 0)),
    CONSTRAINT payout_requests_requested_amount_check CHECK ((requested_amount > 0))
);


ALTER TABLE public.payout_requests OWNER TO fmcg_binary;

--
-- Name: pending_bv_hold; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.pending_bv_hold (
    id bigint NOT NULL,
    source_user_id uuid NOT NULL,
    order_reference character varying(128) NOT NULL,
    bv_amount bigint NOT NULL,
    status character varying(16) DEFAULT 'HELD'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    released_at timestamp with time zone
);


ALTER TABLE public.pending_bv_hold OWNER TO fmcg_binary;

--
-- Name: pending_bv_hold_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.pending_bv_hold_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pending_bv_hold_id_seq OWNER TO fmcg_binary;

--
-- Name: pending_bv_hold_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.pending_bv_hold_id_seq OWNED BY public.pending_bv_hold.id;


--
-- Name: placement_requests; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.placement_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    sponsor_user_id uuid NOT NULL,
    status public.placement_request_status DEFAULT 'PENDING'::public.placement_request_status NOT NULL,
    decided_leg public.tree_leg,
    decided_by uuid,
    expires_at timestamp with time zone NOT NULL,
    decided_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.placement_requests OWNER TO fmcg_binary;

--
-- Name: support_pre_questions; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.support_pre_questions (
    id integer NOT NULL,
    question character varying(200) NOT NULL,
    category character varying(80),
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.support_pre_questions OWNER TO fmcg_binary;

--
-- Name: support_pre_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.support_pre_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.support_pre_questions_id_seq OWNER TO fmcg_binary;

--
-- Name: support_pre_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.support_pre_questions_id_seq OWNED BY public.support_pre_questions.id;


--
-- Name: support_ticket_messages; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.support_ticket_messages (
    id bigint NOT NULL,
    ticket_id uuid NOT NULL,
    sender_type public.support_sender_type NOT NULL,
    sender_user_id uuid,
    message_text text,
    attachment_urls jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT support_ticket_messages_check CHECK ((((message_text IS NOT NULL) AND (length(btrim(message_text)) > 0)) OR (jsonb_array_length(attachment_urls) > 0)))
);


ALTER TABLE public.support_ticket_messages OWNER TO fmcg_binary;

--
-- Name: support_ticket_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.support_ticket_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.support_ticket_messages_id_seq OWNER TO fmcg_binary;

--
-- Name: support_ticket_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.support_ticket_messages_id_seq OWNED BY public.support_ticket_messages.id;


--
-- Name: support_tickets; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.support_tickets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    pre_question_id integer,
    subject character varying(200),
    status public.support_ticket_status DEFAULT 'open'::public.support_ticket_status NOT NULL,
    assigned_to uuid,
    closed_at timestamp with time zone,
    closed_by_user_id uuid,
    last_message_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.support_tickets OWNER TO fmcg_binary;

--
-- Name: user_packages; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.user_packages (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    package_id uuid NOT NULL,
    amount_paid bigint NOT NULL,
    activated_at timestamp with time zone DEFAULT now() NOT NULL,
    expired_at timestamp with time zone,
    status public.user_package_status DEFAULT 'ACTIVE'::public.user_package_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_packages OWNER TO fmcg_binary;

--
-- Name: user_packages_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.user_packages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_packages_id_seq OWNER TO fmcg_binary;

--
-- Name: user_packages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.user_packages_id_seq OWNED BY public.user_packages.id;


--
-- Name: wallet_ledger; Type: TABLE; Schema: public; Owner: fmcg_binary
--

CREATE TABLE public.wallet_ledger (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    wallet_type public.wallet_type NOT NULL,
    amount bigint NOT NULL,
    entry_type public.entry_type NOT NULL,
    source public.commission_source NOT NULL,
    reference_id character varying(255),
    reference_type public.reference_type,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT wallet_ledger_amount_check CHECK ((amount > 0))
);


ALTER TABLE public.wallet_ledger OWNER TO fmcg_binary;

--
-- Name: wallet_ledger_id_seq; Type: SEQUENCE; Schema: public; Owner: fmcg_binary
--

CREATE SEQUENCE public.wallet_ledger_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wallet_ledger_id_seq OWNER TO fmcg_binary;

--
-- Name: wallet_ledger_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fmcg_binary
--

ALTER SEQUENCE public.wallet_ledger_id_seq OWNED BY public.wallet_ledger.id;


--
-- Name: binary_tree id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.binary_tree ALTER COLUMN id SET DEFAULT nextval('public.binary_tree_id_seq'::regclass);


--
-- Name: bv_ledger id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.bv_ledger ALTER COLUMN id SET DEFAULT nextval('public.bv_ledger_id_seq'::regclass);


--
-- Name: commission_config id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.commission_config ALTER COLUMN id SET DEFAULT nextval('public.commission_config_id_seq'::regclass);


--
-- Name: daily_pair_stats id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.daily_pair_stats ALTER COLUMN id SET DEFAULT nextval('public.daily_pair_stats_id_seq'::regclass);


--
-- Name: fmcg_api_keys id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.fmcg_api_keys ALTER COLUMN id SET DEFAULT nextval('public.fmcg_api_keys_id_seq'::regclass);


--
-- Name: held_income id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.held_income ALTER COLUMN id SET DEFAULT nextval('public.held_income_id_seq'::regclass);


--
-- Name: level_achievements id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.level_achievements ALTER COLUMN id SET DEFAULT nextval('public.level_achievements_id_seq'::regclass);


--
-- Name: level_bonus_slabs id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.level_bonus_slabs ALTER COLUMN id SET DEFAULT nextval('public.level_bonus_slabs_id_seq'::regclass);


--
-- Name: pair_match_log id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.pair_match_log ALTER COLUMN id SET DEFAULT nextval('public.pair_match_log_id_seq'::regclass);


--
-- Name: payout_config id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.payout_config ALTER COLUMN id SET DEFAULT nextval('public.payout_config_id_seq'::regclass);


--
-- Name: pending_bv_hold id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.pending_bv_hold ALTER COLUMN id SET DEFAULT nextval('public.pending_bv_hold_id_seq'::regclass);


--
-- Name: support_pre_questions id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_pre_questions ALTER COLUMN id SET DEFAULT nextval('public.support_pre_questions_id_seq'::regclass);


--
-- Name: support_ticket_messages id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_ticket_messages ALTER COLUMN id SET DEFAULT nextval('public.support_ticket_messages_id_seq'::regclass);


--
-- Name: user_packages id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.user_packages ALTER COLUMN id SET DEFAULT nextval('public.user_packages_id_seq'::regclass);


--
-- Name: wallet_ledger id; Type: DEFAULT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.wallet_ledger ALTER COLUMN id SET DEFAULT nextval('public.wallet_ledger_id_seq'::regclass);


--
-- Data for Name: admin_staff_permissions; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: binary_tree; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: bv_ledger; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: commission_config; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: daily_pair_stats; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: dashboard_home_content; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.dashboard_home_content (id, slider_slides, notices, updated_at) FROM stdin;
1	[{"id": "slide-1777288347794-wd97a", "caption": "", "image_url": "https://mlm-cdn.b-cdn.net/landing_sliders/landing_slider_1766130242356.jpg", "sort_order": 0}]	[]	2026-04-27 11:15:20.14595+00
\.


--
-- Data for Name: fmcg_api_keys; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.fmcg_api_keys (id, app_name, api_key, api_secret, status, created_at) FROM stdin;
1	FMCG-Dev	fmcg-dev-key-change-me	fmcg-dev-secret-change-me	ACTIVE	2026-04-18 00:27:06.124749+00
2	Secure-Pharma FMCG	fmcg_pk_3XsAQEjlx9UwsIw8QITBV1	fmcg_sk_qjYW0MuoURDMLOPak5X9co2xE40m0y	ACTIVE	2026-04-18 01:49:30.035467+00
\.


--
-- Data for Name: held_income; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.held_income (id, user_id, wallet_type, source, amount, reference_id, reference_type, description, period_ym, status, released_ledger_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: kyc_documents; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: kyc_requests; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: level_achievements; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.level_achievements (id, user_id, level_number, total_bv_at_achievement, achieved_at) FROM stdin;
\.


--
-- Data for Name: level_bonus_slabs; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: networker_users; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: p2p_transfers; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.p2p_transfers (transfer_id, sender_user_id, receiver_user_id, sender_sponsor_id, receiver_sponsor_id, wallet_type, amount, service_charge, net_amount, note, debit_ledger_id, credit_ledger_id, created_at) FROM stdin;
\.


--
-- Data for Name: packages; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.packages (package_id, name, amount, daily_binary_cap, status, sort_order, created_at, updated_at) FROM stdin;
a1111111-1111-1111-1111-111111111102	Gold	750000	1000000	ACTIVE	2	2026-04-18 00:27:07.231552+00	2026-04-20 16:03:31.554049+00
a1111111-1111-1111-1111-111111111103	Platinum	1500000	2500000	ACTIVE	3	2026-04-18 00:27:07.231552+00	2026-04-20 16:03:31.554049+00
a1111111-1111-1111-1111-111111111101	Silver	260000	300000	ACTIVE	1	2026-04-18 00:27:07.231552+00	2026-05-19 12:23:20.582505+00
\.


--
-- Data for Name: pair_match_log; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: path_rank_slabs; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.path_rank_slabs (rank_level, name, min_direct_bv_paise, min_lifetime_pairs, is_active, updated_at) FROM stdin;
1	Starter	0	0	t	2026-05-18 05:54:02.29162+00
2	Bronze	5000000	0	t	2026-05-18 05:54:02.29162+00
3	Silver	20000000	0	t	2026-05-18 05:54:02.29162+00
4	Gold	75000000	0	t	2026-05-18 05:54:02.29162+00
5	Platinum	250000000	0	t	2026-05-18 05:54:02.29162+00
6	Diamond	1000000000	0	t	2026-05-18 05:54:02.29162+00
\.


--
-- Data for Name: payout_config; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: payout_requests; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: pending_bv_hold; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: placement_requests; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: support_pre_questions; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--

COPY public.support_pre_questions (id, question, category, sort_order, is_active, created_at, updated_at) FROM stdin;
1	hello(topic-1-testing)	local-test	2	t	2026-05-20 11:15:12.094904+00	2026-05-20 11:16:21.982627+00
2	hello(topic-2-testing)	local-test-2	1	t	2026-05-20 11:15:53.670257+00	2026-05-20 11:23:22.763032+00
\.


--
-- Data for Name: support_ticket_messages; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: support_tickets; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: user_packages; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Data for Name: wallet_ledger; Type: TABLE DATA; Schema: public; Owner: fmcg_binary
--



--
-- Name: binary_tree_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.binary_tree_id_seq', 125, true);


--
-- Name: bv_ledger_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.bv_ledger_id_seq', 81, true);


--
-- Name: commission_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.commission_config_id_seq', 90, true);


--
-- Name: daily_pair_stats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.daily_pair_stats_id_seq', 9, true);


--
-- Name: fmcg_api_keys_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.fmcg_api_keys_id_seq', 127, true);


--
-- Name: held_income_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.held_income_id_seq', 1, false);


--
-- Name: level_achievements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.level_achievements_id_seq', 1, false);


--
-- Name: level_bonus_slabs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.level_bonus_slabs_id_seq', 61, true);


--
-- Name: pair_match_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.pair_match_log_id_seq', 9, true);


--
-- Name: payout_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.payout_config_id_seq', 55, true);


--
-- Name: pending_bv_hold_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.pending_bv_hold_id_seq', 6, true);


--
-- Name: sponsor_code_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.sponsor_code_seq', 127, true);


--
-- Name: support_pre_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.support_pre_questions_id_seq', 2, true);


--
-- Name: support_ticket_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.support_ticket_messages_id_seq', 23, true);


--
-- Name: user_packages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.user_packages_id_seq', 48, true);


--
-- Name: wallet_ledger_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fmcg_binary
--

SELECT pg_catalog.setval('public.wallet_ledger_id_seq', 46, true);


--
-- Name: admin_staff_permissions admin_staff_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.admin_staff_permissions
    ADD CONSTRAINT admin_staff_permissions_pkey PRIMARY KEY (user_id, permission_key);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (log_id);


--
-- Name: binary_tree binary_tree_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.binary_tree
    ADD CONSTRAINT binary_tree_pkey PRIMARY KEY (id);


--
-- Name: binary_tree binary_tree_user_id_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.binary_tree
    ADD CONSTRAINT binary_tree_user_id_key UNIQUE (user_id);


--
-- Name: bv_ledger bv_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.bv_ledger
    ADD CONSTRAINT bv_ledger_pkey PRIMARY KEY (id);


--
-- Name: commission_config commission_config_config_key_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.commission_config
    ADD CONSTRAINT commission_config_config_key_key UNIQUE (config_key);


--
-- Name: commission_config commission_config_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.commission_config
    ADD CONSTRAINT commission_config_pkey PRIMARY KEY (id);


--
-- Name: daily_pair_stats daily_pair_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.daily_pair_stats
    ADD CONSTRAINT daily_pair_stats_pkey PRIMARY KEY (id);


--
-- Name: daily_pair_stats daily_pair_stats_user_id_stat_date_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.daily_pair_stats
    ADD CONSTRAINT daily_pair_stats_user_id_stat_date_key UNIQUE (user_id, stat_date);


--
-- Name: dashboard_home_content dashboard_home_content_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.dashboard_home_content
    ADD CONSTRAINT dashboard_home_content_pkey PRIMARY KEY (id);


--
-- Name: fmcg_api_keys fmcg_api_keys_api_key_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.fmcg_api_keys
    ADD CONSTRAINT fmcg_api_keys_api_key_key UNIQUE (api_key);


--
-- Name: fmcg_api_keys fmcg_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.fmcg_api_keys
    ADD CONSTRAINT fmcg_api_keys_pkey PRIMARY KEY (id);


--
-- Name: held_income held_income_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.held_income
    ADD CONSTRAINT held_income_pkey PRIMARY KEY (id);


--
-- Name: kyc_documents kyc_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.kyc_documents
    ADD CONSTRAINT kyc_documents_pkey PRIMARY KEY (document_id);


--
-- Name: kyc_requests kyc_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.kyc_requests
    ADD CONSTRAINT kyc_requests_pkey PRIMARY KEY (kyc_id);


--
-- Name: kyc_requests kyc_requests_user_id_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.kyc_requests
    ADD CONSTRAINT kyc_requests_user_id_key UNIQUE (user_id);


--
-- Name: level_achievements level_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.level_achievements
    ADD CONSTRAINT level_achievements_pkey PRIMARY KEY (id);


--
-- Name: level_achievements level_achievements_user_id_level_number_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.level_achievements
    ADD CONSTRAINT level_achievements_user_id_level_number_key UNIQUE (user_id, level_number);


--
-- Name: level_bonus_slabs level_bonus_slabs_level_number_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.level_bonus_slabs
    ADD CONSTRAINT level_bonus_slabs_level_number_key UNIQUE (level_number);


--
-- Name: level_bonus_slabs level_bonus_slabs_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.level_bonus_slabs
    ADD CONSTRAINT level_bonus_slabs_pkey PRIMARY KEY (id);


--
-- Name: networker_users networker_users_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.networker_users
    ADD CONSTRAINT networker_users_pkey PRIMARY KEY (user_id);


--
-- Name: p2p_transfers p2p_transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.p2p_transfers
    ADD CONSTRAINT p2p_transfers_pkey PRIMARY KEY (transfer_id);


--
-- Name: packages packages_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.packages
    ADD CONSTRAINT packages_pkey PRIMARY KEY (package_id);


--
-- Name: pair_match_log pair_match_log_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.pair_match_log
    ADD CONSTRAINT pair_match_log_pkey PRIMARY KEY (id);


--
-- Name: path_rank_slabs path_rank_slabs_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.path_rank_slabs
    ADD CONSTRAINT path_rank_slabs_pkey PRIMARY KEY (rank_level);


--
-- Name: payout_config payout_config_config_key_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.payout_config
    ADD CONSTRAINT payout_config_config_key_key UNIQUE (config_key);


--
-- Name: payout_config payout_config_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.payout_config
    ADD CONSTRAINT payout_config_pkey PRIMARY KEY (id);


--
-- Name: payout_requests payout_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.payout_requests
    ADD CONSTRAINT payout_requests_pkey PRIMARY KEY (payout_id);


--
-- Name: pending_bv_hold pending_bv_hold_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.pending_bv_hold
    ADD CONSTRAINT pending_bv_hold_pkey PRIMARY KEY (id);


--
-- Name: placement_requests placement_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.placement_requests
    ADD CONSTRAINT placement_requests_pkey PRIMARY KEY (id);


--
-- Name: placement_requests placement_requests_user_id_key; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.placement_requests
    ADD CONSTRAINT placement_requests_user_id_key UNIQUE (user_id);


--
-- Name: support_pre_questions support_pre_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_pre_questions
    ADD CONSTRAINT support_pre_questions_pkey PRIMARY KEY (id);


--
-- Name: support_ticket_messages support_ticket_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_ticket_messages
    ADD CONSTRAINT support_ticket_messages_pkey PRIMARY KEY (id);


--
-- Name: support_tickets support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pkey PRIMARY KEY (id);


--
-- Name: user_packages user_packages_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.user_packages
    ADD CONSTRAINT user_packages_pkey PRIMARY KEY (id);


--
-- Name: wallet_ledger wallet_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.wallet_ledger
    ADD CONSTRAINT wallet_ledger_pkey PRIMARY KEY (id);


--
-- Name: idx_api_keys_key; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_api_keys_key ON public.fmcg_api_keys USING btree (api_key);


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_audit_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_actor; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_audit_actor ON public.audit_logs USING btree (actor_id);


--
-- Name: idx_audit_created; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_audit_created ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_bv_ledger_created_at; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_ledger_created_at ON public.bv_ledger USING btree (created_at);


--
-- Name: idx_bv_ledger_source_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_ledger_source_user ON public.bv_ledger USING btree (source_user_id);


--
-- Name: idx_bv_ledger_user_created; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_ledger_user_created ON public.bv_ledger USING btree (user_id, created_at);


--
-- Name: idx_bv_order; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_order ON public.bv_ledger USING btree (order_reference);


--
-- Name: idx_bv_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_status ON public.bv_ledger USING btree (status);


--
-- Name: idx_bv_unmatched; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_unmatched ON public.bv_ledger USING btree (user_id, leg) WHERE (status = 'UNMATCHED'::public.bv_status);


--
-- Name: idx_bv_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_user ON public.bv_ledger USING btree (user_id);


--
-- Name: idx_bv_user_leg; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_bv_user_leg ON public.bv_ledger USING btree (user_id, leg);


--
-- Name: idx_held_income_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_held_income_status ON public.held_income USING btree (status);


--
-- Name: idx_held_income_user_period_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_held_income_user_period_status ON public.held_income USING btree (user_id, period_ym, status);


--
-- Name: idx_kyc_documents_kyc_id; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_kyc_documents_kyc_id ON public.kyc_documents USING btree (kyc_id);


--
-- Name: idx_kyc_requests_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_kyc_requests_status ON public.kyc_requests USING btree (status);


--
-- Name: idx_kyc_requests_user_id; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_kyc_requests_user_id ON public.kyc_requests USING btree (user_id);


--
-- Name: idx_ledger_created; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_ledger_created ON public.wallet_ledger USING btree (created_at DESC);


--
-- Name: idx_ledger_idempotent; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE UNIQUE INDEX idx_ledger_idempotent ON public.wallet_ledger USING btree (user_id, wallet_type, source, reference_id) WHERE (reference_id IS NOT NULL);


--
-- Name: idx_ledger_reference; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_ledger_reference ON public.wallet_ledger USING btree (reference_id);


--
-- Name: idx_ledger_source; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_ledger_source ON public.wallet_ledger USING btree (source);


--
-- Name: idx_ledger_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_ledger_user ON public.wallet_ledger USING btree (user_id);


--
-- Name: idx_ledger_user_wallet; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_ledger_user_wallet ON public.wallet_ledger USING btree (user_id, wallet_type);


--
-- Name: idx_ledger_user_wallet_entry; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_ledger_user_wallet_entry ON public.wallet_ledger USING btree (user_id, wallet_type, entry_type);


--
-- Name: idx_level_achievements_level; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_level_achievements_level ON public.level_achievements USING btree (level_number);


--
-- Name: idx_level_achievements_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_level_achievements_user ON public.level_achievements USING btree (user_id);


--
-- Name: idx_p2p_created; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_p2p_created ON public.p2p_transfers USING btree (created_at DESC);


--
-- Name: idx_p2p_receiver; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_p2p_receiver ON public.p2p_transfers USING btree (receiver_user_id, created_at DESC);


--
-- Name: idx_p2p_sender; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_p2p_sender ON public.p2p_transfers USING btree (sender_user_id, created_at DESC);


--
-- Name: idx_packages_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_packages_status ON public.packages USING btree (status);


--
-- Name: idx_pair_created; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_pair_created ON public.pair_match_log USING btree (created_at DESC);


--
-- Name: idx_pair_stats_user_date; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_pair_stats_user_date ON public.daily_pair_stats USING btree (user_id, stat_date);


--
-- Name: idx_pair_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_pair_user ON public.pair_match_log USING btree (user_id);


--
-- Name: idx_pair_user_created; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_pair_user_created ON public.pair_match_log USING btree (user_id, created_at);


--
-- Name: idx_payout_requested; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_payout_requested ON public.payout_requests USING btree (requested_at DESC);


--
-- Name: idx_payout_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_payout_status ON public.payout_requests USING btree (status);


--
-- Name: idx_payout_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_payout_user ON public.payout_requests USING btree (user_id);


--
-- Name: idx_pbh_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_pbh_user ON public.pending_bv_hold USING btree (source_user_id, status);


--
-- Name: idx_pr_expiry; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_pr_expiry ON public.placement_requests USING btree (status, expires_at);


--
-- Name: idx_pr_sponsor_pending; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_pr_sponsor_pending ON public.placement_requests USING btree (sponsor_user_id, status);


--
-- Name: idx_staff_perm_key; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_staff_perm_key ON public.admin_staff_permissions USING btree (permission_key);


--
-- Name: idx_staff_perm_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_staff_perm_user ON public.admin_staff_permissions USING btree (user_id);


--
-- Name: idx_support_messages_ticket; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_support_messages_ticket ON public.support_ticket_messages USING btree (ticket_id, created_at);


--
-- Name: idx_support_tickets_assigned; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_support_tickets_assigned ON public.support_tickets USING btree (assigned_to) WHERE (assigned_to IS NOT NULL);


--
-- Name: idx_support_tickets_status_created; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_support_tickets_status_created ON public.support_tickets USING btree (status, created_at DESC);


--
-- Name: idx_support_tickets_unassigned_open; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_support_tickets_unassigned_open ON public.support_tickets USING btree (created_at DESC) WHERE ((assigned_to IS NULL) AND (status <> 'closed'::public.support_ticket_status));


--
-- Name: idx_support_tickets_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_support_tickets_user ON public.support_tickets USING btree (user_id, created_at DESC);


--
-- Name: idx_support_topics_active_sort; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_support_topics_active_sort ON public.support_pre_questions USING btree (is_active, sort_order, id);


--
-- Name: idx_tree_left_child; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_tree_left_child ON public.binary_tree USING btree (left_child_id);


--
-- Name: idx_tree_parent; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_tree_parent ON public.binary_tree USING btree (parent_id);


--
-- Name: idx_tree_right_child; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_tree_right_child ON public.binary_tree USING btree (right_child_id);


--
-- Name: idx_tree_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_tree_user ON public.binary_tree USING btree (user_id);


--
-- Name: idx_user_packages_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_user_packages_status ON public.user_packages USING btree (status);


--
-- Name: idx_user_packages_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_user_packages_user ON public.user_packages USING btree (user_id);


--
-- Name: idx_users_current_level; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_current_level ON public.networker_users USING btree (current_level);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_email ON public.networker_users USING btree (email);


--
-- Name: idx_users_email_unique_except_dev; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE UNIQUE INDEX idx_users_email_unique_except_dev ON public.networker_users USING btree (lower(TRIM(BOTH FROM (email)::text))) WHERE (lower(TRIM(BOTH FROM (email)::text)) <> 'faizanvector@gmail.com'::text);


--
-- Name: idx_users_period; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_period ON public.networker_users USING btree (income_period_ym);


--
-- Name: idx_users_phone; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_phone ON public.networker_users USING btree (phone);


--
-- Name: idx_users_phone_unique_except_demo; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE UNIQUE INDEX idx_users_phone_unique_except_demo ON public.networker_users USING btree (phone) WHERE ((phone IS NOT NULL) AND ((phone)::text <> '+918600000889'::text));


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_role ON public.networker_users USING btree (role);


--
-- Name: idx_users_sc_wallet_code; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE UNIQUE INDEX idx_users_sc_wallet_code ON public.networker_users USING btree (sc_wallet_code) WHERE (sc_wallet_code IS NOT NULL);


--
-- Name: idx_users_sponsor_id; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE UNIQUE INDEX idx_users_sponsor_id ON public.networker_users USING btree (sponsor_id);


--
-- Name: idx_users_sponsor_user; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_sponsor_user ON public.networker_users USING btree (sponsor_user_id);


--
-- Name: idx_users_staff_created_by; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_staff_created_by ON public.networker_users USING btree (staff_created_by) WHERE (staff_created_by IS NOT NULL);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: fmcg_binary
--

CREATE INDEX idx_users_status ON public.networker_users USING btree (status);


--
-- Name: admin_staff_permissions admin_staff_permissions_granted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.admin_staff_permissions
    ADD CONSTRAINT admin_staff_permissions_granted_by_fkey FOREIGN KEY (granted_by) REFERENCES public.networker_users(user_id);


--
-- Name: admin_staff_permissions admin_staff_permissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.admin_staff_permissions
    ADD CONSTRAINT admin_staff_permissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.networker_users(user_id);


--
-- Name: binary_tree binary_tree_left_child_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.binary_tree
    ADD CONSTRAINT binary_tree_left_child_id_fkey FOREIGN KEY (left_child_id) REFERENCES public.networker_users(user_id);


--
-- Name: binary_tree binary_tree_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.binary_tree
    ADD CONSTRAINT binary_tree_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.networker_users(user_id);


--
-- Name: binary_tree binary_tree_right_child_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.binary_tree
    ADD CONSTRAINT binary_tree_right_child_id_fkey FOREIGN KEY (right_child_id) REFERENCES public.networker_users(user_id);


--
-- Name: binary_tree binary_tree_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.binary_tree
    ADD CONSTRAINT binary_tree_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: bv_ledger bv_ledger_source_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.bv_ledger
    ADD CONSTRAINT bv_ledger_source_user_id_fkey FOREIGN KEY (source_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: bv_ledger bv_ledger_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.bv_ledger
    ADD CONSTRAINT bv_ledger_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: commission_config commission_config_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.commission_config
    ADD CONSTRAINT commission_config_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.networker_users(user_id);


--
-- Name: daily_pair_stats daily_pair_stats_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.daily_pair_stats
    ADD CONSTRAINT daily_pair_stats_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: networker_users fk_users_package; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.networker_users
    ADD CONSTRAINT fk_users_package FOREIGN KEY (current_package_id) REFERENCES public.packages(package_id);


--
-- Name: held_income held_income_released_ledger_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.held_income
    ADD CONSTRAINT held_income_released_ledger_id_fkey FOREIGN KEY (released_ledger_id) REFERENCES public.wallet_ledger(id);


--
-- Name: held_income held_income_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.held_income
    ADD CONSTRAINT held_income_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: kyc_documents kyc_documents_kyc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.kyc_documents
    ADD CONSTRAINT kyc_documents_kyc_id_fkey FOREIGN KEY (kyc_id) REFERENCES public.kyc_requests(kyc_id) ON DELETE CASCADE;


--
-- Name: kyc_requests kyc_requests_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.kyc_requests
    ADD CONSTRAINT kyc_requests_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.networker_users(user_id);


--
-- Name: kyc_requests kyc_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.kyc_requests
    ADD CONSTRAINT kyc_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id) ON DELETE CASCADE;


--
-- Name: level_achievements level_achievements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.level_achievements
    ADD CONSTRAINT level_achievements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: networker_users networker_users_sponsor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.networker_users
    ADD CONSTRAINT networker_users_sponsor_user_id_fkey FOREIGN KEY (sponsor_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: networker_users networker_users_staff_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.networker_users
    ADD CONSTRAINT networker_users_staff_created_by_fkey FOREIGN KEY (staff_created_by) REFERENCES public.networker_users(user_id);


--
-- Name: p2p_transfers p2p_transfers_credit_ledger_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.p2p_transfers
    ADD CONSTRAINT p2p_transfers_credit_ledger_id_fkey FOREIGN KEY (credit_ledger_id) REFERENCES public.wallet_ledger(id);


--
-- Name: p2p_transfers p2p_transfers_debit_ledger_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.p2p_transfers
    ADD CONSTRAINT p2p_transfers_debit_ledger_id_fkey FOREIGN KEY (debit_ledger_id) REFERENCES public.wallet_ledger(id);


--
-- Name: p2p_transfers p2p_transfers_receiver_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.p2p_transfers
    ADD CONSTRAINT p2p_transfers_receiver_user_id_fkey FOREIGN KEY (receiver_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: p2p_transfers p2p_transfers_sender_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.p2p_transfers
    ADD CONSTRAINT p2p_transfers_sender_user_id_fkey FOREIGN KEY (sender_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: pair_match_log pair_match_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.pair_match_log
    ADD CONSTRAINT pair_match_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: payout_requests payout_requests_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.payout_requests
    ADD CONSTRAINT payout_requests_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.networker_users(user_id);


--
-- Name: payout_requests payout_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.payout_requests
    ADD CONSTRAINT payout_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: pending_bv_hold pending_bv_hold_source_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.pending_bv_hold
    ADD CONSTRAINT pending_bv_hold_source_user_id_fkey FOREIGN KEY (source_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: placement_requests placement_requests_decided_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.placement_requests
    ADD CONSTRAINT placement_requests_decided_by_fkey FOREIGN KEY (decided_by) REFERENCES public.networker_users(user_id);


--
-- Name: placement_requests placement_requests_sponsor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.placement_requests
    ADD CONSTRAINT placement_requests_sponsor_user_id_fkey FOREIGN KEY (sponsor_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: placement_requests placement_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.placement_requests
    ADD CONSTRAINT placement_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: support_ticket_messages support_ticket_messages_sender_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_ticket_messages
    ADD CONSTRAINT support_ticket_messages_sender_user_id_fkey FOREIGN KEY (sender_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: support_ticket_messages support_ticket_messages_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_ticket_messages
    ADD CONSTRAINT support_ticket_messages_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.support_tickets(id) ON DELETE CASCADE;


--
-- Name: support_tickets support_tickets_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.networker_users(user_id);


--
-- Name: support_tickets support_tickets_closed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_closed_by_user_id_fkey FOREIGN KEY (closed_by_user_id) REFERENCES public.networker_users(user_id);


--
-- Name: support_tickets support_tickets_pre_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pre_question_id_fkey FOREIGN KEY (pre_question_id) REFERENCES public.support_pre_questions(id) ON DELETE SET NULL;


--
-- Name: support_tickets support_tickets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id) ON DELETE CASCADE;


--
-- Name: user_packages user_packages_package_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.user_packages
    ADD CONSTRAINT user_packages_package_id_fkey FOREIGN KEY (package_id) REFERENCES public.packages(package_id);


--
-- Name: user_packages user_packages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.user_packages
    ADD CONSTRAINT user_packages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- Name: wallet_ledger wallet_ledger_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fmcg_binary
--

ALTER TABLE ONLY public.wallet_ledger
    ADD CONSTRAINT wallet_ledger_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.networker_users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict SKDDPTbg08cRQQT3xTg440pQsLe7HRGFdOYuK3T4iJ2jipWENMxQWRWkcBGIJnL

